html, body {
	margin:0;
	padding:0;
	background-color: #fff;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	
}
.mahdi_1 {
	width:900px;
	margin:0 auto;
}
.mahdi_6{
    background-image: url("Mahdi_5.png");
    background-repeat: repeat-x;

}
.mahdi_5 {
	height: 616px;
	width:900px;
	margin:0 auto;
}
.mahdi_8 {
	background-color: #fff;
	height:66px;
	width:100%;
	margin:0 auto;
	border-bottom:1px #E2E2E2 solid;
}
.mahdi_7 {
	height:54px;
	width:900px;
	margin:0 auto;
	padding-top: 11px;
}
.mahdi_2 {

	width:100%;
	background-color:#fff;
	margin:0 auto;
	border-top:1px #E2E2E2 solid;
		margin-top: 20px;
}
.mahdi_3 {
	width:900px;
	margin: 0 auto;
}


.mahdi_9 {
position: absolute;
height:414px;
width: 626px;
background-image: url("Mahdi_6.png");
background-position: 3px 8px;
background-repeat: no-repeat;
}
.mahdi_10 {
position: absolute;
top: 550px;
height:414px;
width: 626px;
background-image: url("Mahdi_7.png");
background-position: 5px 6px;
background-repeat: no-repeat;
}
.mahdi_a0{
padding-top:50px;
}
.mahdi_a1{
background-image: url("https://www.paypalobjects.com/webstatic/en_US/mktg/wright/sell_inyourapps/n2_1x.jpg");
background-repeat: no-repeat;
width: 464px;
background-size: 759px;
height: 450px;
background-position: -142px 7px;
}
.mahdi_a2{
background-color: #F5F5F5;
width: 375px;
height: 450px;
float: right;
padding: 22px;
}
.mahdi_a3{
width: 464px;
height: 450px;
}
h2 {
	color:#009CDE;
}
.large {
-moz-appearance: none;
-moz-box-sizing: border-box;
background: none repeat 0 0 #FFF;
border: 1px solid #ccc;
border-radius: 5px;
color: #333;
height: 38px;
line-height: 1.25em;
margin: 0;
padding: 0;
position: relative;
text-indent: 10px;
transition: border-color 0.3s ease 0s;
font: 1em Arial, Helvetica, sans-serif;
width: 370px;
font-size: 15px;
font-weight: normal;

}
.btn {
border: 1px solid #B3B3B3;
margin: 0;
position: relative;
text-indent: 10px;
transition: border-color 0.3s ease 0s;
-webkit-appearance: none;
-moz-box-sizing: border-box;
background: none repeat 0 0 #0079C1;
border-radius: 5px;
border-color: #0079C1;
color: #FFF;
cursor: pointer;
display: inline-block;
font-family: arial,sans-serif;
font-size: 15px;
font-weight: bold;
line-height: 1.4545em;
margin-bottom: 0;
padding: 9px 15px 10px;
text-align: center;
vertical-align: middle;
height: 40px;
width: 370px;
margin-left: 4px;
}
.merror {
border: 1px solid #9d2c36;
background: url("error.png") no-repeat;
background-color: #FFF;
background-position: 339px 5px;
}
.merroro {
border: 1px solid #9d2c36;
background: url("error.png") no-repeat;
background-color: #FFF;
}
.merror2 {
border: 1px solid #9d2c36;
background: url("error.png") no-repeat;
background-color: #FFF;
background-position: 148px 5px;
}
.merror3 {
border: 1px solid #9d2c36;
background: url("error.png") no-repeat;
background-color: #FFF;
background-position: 89px 5px;
}
.btn:hover, .btn:focus {
background: none repeat 0 0 #0285D2;
color: #FFF;
text-decoration: none;
}
.select {
-moz-appearance: none;
-moz-box-sizing: border-box;
background: none repeat 0 0 #FFF;
border: 1px solid #ccc;
border-radius: 5px;
color: #666;
height: 38px;
line-height: 1.25em;
margin: 0;
padding: 0;
position: relative;
text-indent: 10px;
transition: border-color 0.3s ease 0s;
font: 1em Arial, Helvetica, sans-serif;
width: 337px;
font-size: 15px;
font-weight: normal;
}
label {
font-size: 13px;
color: #666;
font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 300;
line-height: 3rem;
margin-bottom: .75em;
margin-left: 15px;
}
.fullTable {
text-align: center;
}
.fullTable th {
color:#555;
}
.fullTable th:nth-child(1n) {
width:110px;
}

